---
const today = new Date();

import { fetchData, type GlobalSettings } from "@xprtz/cms";

const site = import.meta.env.PUBLIC_SITE;
const imagesUrl = import.meta.env.PUBLIC_IMAGES_URL;
const strapi = import.meta.env.PUBLIC_STRAPI_URL;

const globalSettings = await fetchData<Array<GlobalSettings>>({
  endpoint: "global-settings",
  wrappedByKey: "data",
  query: {
    "filters[site][$eq]": site,
    status: "published",
  },
});

const settings = globalSettings[0];
---

<footer class="mt-16">
  <div class="mx-auto max-w-7xl px-6 py-12 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-3">
      {settings.socials.map(s => (
        s.isEnabled && <a href={s.link} class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">{s.title}</span>
          <img class="pt-4" src=`${imagesUrl}${s.icon.url}` alt={s.title} />
        </a>
      ))}
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-xs leading-5 text-gray-500">&copy; {today.getFullYear()} XPRTZ B.V.</p>
      <p class="text-xs leading-5 text-gray-500">{settings.straat}<br>{settings.postcode} {settings.gemeente}</p>
    </div>
    <div class="md:order-2">
      <a class="text-xs leading-5 text-gray-500" href=`${strapi}${settings.algemeneVoorwaarden.url}`>Algemene voorwaarden</a>
    </div>
  </div>
</footer>
