---
import { type Mission as MissionType } from "@xprtz/cms";
const { mission } = Astro.props as { mission: MissionType };
---
<div class="mx-auto -mt-12 max-w-7xl px-6 sm:mt-0 lg:px-8 xl:-mt-8">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <h2 class="text-pretty text-4xl font-semibold tracking-tight text-primary-800 sm:text-5xl">{mission.title}</h2>
    <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
      <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
        <p class="text-xl/8 text-gray-600">{mission.description}</p>
        <p class="mt-10 max-w-xl text-base/7 text-gray-700">{mission.extraDescription}</p>
      </div>
      <div class="lg:flex lg:flex-auto lg:justify-center">
        <dl class="w-64 space-y-8 xl:w-80">
          {mission.statistieken.map(stat => (
            <div class="flex flex-col-reverse gap-y-4">
              <dt class="text-base/7 text-gray-600">{stat.description}</dt>
              <dd class="text-5xl font-semibold tracking-tight text-primary-800">{stat.title}</dd>
            </div>
          ))}
        </dl>
      </div>
    </div>
  </div>
</div>
