---
import { type Team } from "@xprtz/cms";
const team = Astro.props as Team;
const site = import.meta.env.PUBLIC_STRAPI_URL;
---
<div class="mx-auto mt-32 max-w-7xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-pretty text-4xl font-semibold tracking-tight text-primary-800 sm:text-5xl">{team.title}</h2>
    <p class="mt-6 text-lg/8 text-gray-600">{team.description}</p>
  </div>
  <ul role="list" class="mx-auto mt-20 grid max-w-2xl grid-cols-2 gap-x-8 gap-y-16 text-center sm:grid-cols-3 md:grid-cols-4 lg:mx-0 lg:max-w-none lg:grid-cols-5 xl:grid-cols-6">
    {team.members.map(member =>(
      <li>
      <img class="mx-auto size-24 rounded-full" src=`${site}${member.avatar.url}` alt={member.avatar.alternateText}>
      <h3 class="mt-6 text-base/7 font-semibold tracking-tight text-primary-800">{member.firstname} {member.lastname}</h3>
      <p class="text-sm/6 text-gray-600">{member.realTitle}</p>
    </li>
    ))}
  </ul>
</div>
