---
import { type Kernwaarden as KernwaardenType } from "@xprtz/cms";
const { kernwaarden } = Astro.props as { kernwaarden: KernwaardenType };
const site = import.meta.env.PUBLIC_STRAPI_URL;
---

<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2
      class="text-pretty text-4xl font-semibold tracking-tight text-primary-800 sm:text-5xl"
    >
      {kernwaarden.title}
    </h2>
    <p class="mt-6 text-lg/8 text-gray-600">{kernwaarden.description}</p>
  </div>
  <dl
    class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base/7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    {
      kernwaarden.items.map((item) => (
        <div>
          <dt class="font-semibold text-primary-800 text-center flex flex-col items-center">
            <div>{item.title}</div>
            <img class="p-4" src=`${site}${item.image.url}` />
          </dt>
          <dd class="mt-1 text-gray-600 text-center">{item.description}</dd>
        </div>
      ))
    }
  </dl>
</div>
