---
import { type Kernwaarden } from "@xprtz/cms";
const kernwaarden = Astro.props as Kernwaarden;
const site = import.meta.env.PUBLIC_IMAGES_URL;
---

<div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8 relative isolate -z-10 ">
    <div class="mx-auto max-w-2xl lg:mx-0">
    <h2
      class="text-pretty text-4xl font-semibold tracking-tight text-primary-800 sm:text-5xl"
    >
      {kernwaarden.title}
    </h2>
    <p class="mt-6 text-lg/8 text-gray-600">{kernwaarden.description}</p>
  </div>
  <dl
    class="mx-auto mt-16 max-w-2xl lg:mx-0 lg:max-w-none relative"
  >
    <div class="absolute inset-0 -z-10 flex justify-center overflow-hidden [mask-image:radial-gradient(70%_80%_at_50%_50%,white,transparent)]">
      <svg class="h-full w-[80rem] flex-none stroke-gray-200 min-h-full" aria-hidden="true">
        <defs>
          <pattern id="e9033f3e-f665-41a6-84ef-756f6778e6fe" width="200" height="200" x="50%" y="50%" patternUnits="userSpaceOnUse" patternTransform="translate(-100 0)">
            <path d="M.5 200V.5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="50%" class="overflow-visible fill-gray-50">
          <path d="M-300 0h201v201h-201Z M300 200h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#e9033f3e-f665-41a6-84ef-756f6778e6fe)" />
      </svg>
    </div>
    <div class="flex flex-wrap justify-center gap-x-8 gap-y-16">
      {kernwaarden.items.map((item) => (
        <div class="w-full max-w-xs sm:w-80 sm:flex-none lg:w-80">
          <dt class="font-semibold text-primary-800 text-center flex flex-col items-center">
            <div>{item.title}</div>
            <img class="p-4" src=`${site}${item.image.url}` />
          </dt>
          <dd class="mt-1 text-gray-600 text-base/7">{item.description}</dd>
        </div>
      ))}
    </div>
  </dl>
</div>
